**/.*

# Ignore a hidden dot folder anywhere in the project
.terraform/

# Ignore a normal folder anywhere in the project
key/

readme.md
.DS_Store
terrform.tfstate.backup
terraform-error.log
.terraform.lock.hcl
terraform.tfstate.backup
